db.sqlite3
/db_backups
# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# SSL Files
ssl/*
# Environment variables
.env__pycache__/
*.pyc
