{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1>hello, backlog</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Release date</th>
                    <th scope="col">Date added to backlog</th>
                </tr>
            </thead>
            <tbody>
                {% for game in backlog %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ game.name }}</td>
                        <td>{{ game.first_release_date }}</td>
                        <td>{{ game.date_added }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}